{% extends 'generic/object.html' %}
{% block content %}
<div class="row"><div class="col-md-6">
  <div class="card"><h2 class="card-header">COTS</h2><table class="table table-hover attr-table">
    <tr><th>Nom</th><td>{{ object.name }}</td></tr>
    <tr><th>Identifiant</th><td>{{ object.slug }}</td></tr>
    <tr><th>Éditeur</th><td>{{ object.publisher|default:'-' }}</td></tr>
    <tr><th>Description</th><td>{{ object.description|default:'-' }}</td></tr>
  </table></div>
  {% if perms.netbox_cots.view_installation %}
  <a class="btn btn-primary mt-3" href="{% url 'plugins:netbox_cots:installation_list' %}?application_id={{ object.pk }}">Voir les machines utilisant ce COTS</a>
  {% endif %}
</div><div class="col-md-6">
  <div class="card"><h2 class="card-header">Versions</h2><ul class="list-group list-group-flush">
    {% for version in versions %}<li class="list-group-item"><a href="{{ version.get_absolute_url }}">{{ version.version }}</a></li>{% empty %}<li class="list-group-item">Aucune version visible.</li>{% endfor %}
  </ul></div>
</div></div>
{% endblock %}
